body {
  font-family: Helvetica, sans-serif;
  font-size: 0.875rem;
  color: #000000;
}

/* Main dan Navbar Section */
.main {
  background-color: #f1f3ff;
}

#offcanvasNavbar {
  width: 200px;
}

.navbar {
  background-color: #f1f3ff;
}

.nav-item:not(:last-child) {
  padding-right: 2rem;
}

.nav-item a {
  color: #000000;
}

.btn {
  border: 0;
  border-radius: 2px;
  padding: 8px 12px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 20px;
}

.btn-success {
  background-color: #5cb85f;
}

.jumbotron p,
.service p {
  text-align: justify;
}

/* Akhir Main dan Navbar Section */

/* Our Service Section */
.list {
  line-height: 40px;
  margin-left: 0;
}

.service {
  display: flex;
  align-items: center;
}

.service-img {
  max-width: 100%;
  padding-top: 60px;
  margin: auto;
}

.service-desc {
  max-width: 100%;
  padding: 100px 0;
  margin-right: 0;
  font-size: 14px;
}
/* Akhir Service Section */

/* Why Us Section */
#whyus .card-title {
  font-weight: 700;
  line-height: 24px;
}
#whyus .card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

#whyus .card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

#whyus .card h3 {
  font-weight: 600;
}

#whyus .card-3 {
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

ul.iconwhyus {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.iconwhyus li {
  display: inline;
  margin: 0 5px;
}

.icon-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.icon-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.icon-circle i {
  color: white;
}

.iconwhyus .icothumb {
  background-color: #f9cc00;
}

.iconwhyus .icotag {
  background-color: #fa2c5a;
}

.iconwhyus .icoclock {
  background-color: #0d28a6;
}

.iconwhyus .icoaward {
  background-color: #5cb85f;
}
/*Akhir Why Us Section  */

/* Testimoni */
.testi-card {
  background-color: #f1f3ff;
}

.gambar1 i {
  color: #f9cc00;
}

.bt {
  display: flex;
  justify-content: space-around;
  width: 100px;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}
.bt1 {
  border-radius: 100%;
  border: 1px solid black;
  width: 27px;
  cursor: pointer;
  transition: 0.5s;
}
.bt1 i {
  transition: 0.5s;
}
.bt1:hover {
  background-color: #5cb85f;
  border: 1px solid #5cb85f;
}
.bt1:hover i {
  color: white;
}

.carousel-item > .card {
  margin-inline: 12px;
}

@media (min-width: 768px) {
  .container {
    width: 90%;
  }

  .jumbotron {
    margin-left: 5%;
  }

  .carousel-item > .card {
    width: 75%;
    margin-inline: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 80%;
  }

  .jumbotron p,
  .service p {
    text-align: left;
    width: 75%;
  }

  .carousel-item > .card {
    width: 50%;
    margin-inline: auto;
  }

  .testi-card {
    padding-block: 4rem;
    padding-inline: 2rem;
  }
}

/*Akhir Testimoni*/

/* Getting Started Section*/

.gt-card {
  background: #0d28a6;
  color: #ffffff;
  text-align: center;
  border-radius: 13px;
}

/* Akhir Getting Started Section */

/* Footer */
footer {
  background: white;
  color: black;
  font-size: 14px;
}

footer a {
  color: black;
  font-size: 14px;
  transition-duration: 0.2s;
  text-decoration: none;
}

footer a:hover {
  color: #fa944b;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid black;
}

.footer-middle {
  padding-top: 2em;
  color: black;
}

/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.social-network a.icoFacebook:hover,
.social-network a.icoInstagram:hover,
.social-network a.icoTwitter:hover,
.social-network a.icoEnvelope:hover,
.social-network a.icoTwitch:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoInstagram:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoEnvelope:hover i,
.social-network a.icoTwitch:hover i {
  color: #fff;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: white;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #0d28a6;
}
/* Akhir Footer */
